@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Caxias do Sul, Rio Grande do Sul<br />
    Telefone:
    (54) 981082114
</address>

<address>
    <strong>Suporte:</strong> <a href="mailto:Support@example.com">evertontp5@gmail.com</a><br />
</address>
